@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

:root {
    --color-bg: #EBECF2;
    --color-surface: #FFFFFF;
    --color-border: #9A9EB2;
    --color-text-primary: #000;
    --color-text-secondary: #3F435D;
    --color-tooltip-bg: #2A2E33;
    --color-tooltip-text: #fff;
    --shadow-border: rgba(0, 0, 0, 0.1);
    --user-bg-color: #FAFAFC;
    --color-darkmode-btn: #3A3D4D;
}

body.dark-mode {
    --color-bg: #3A3D4D;
    --color-surface: #12141A;
    --color-border: #282D3B;
    --color-text-primary: #FFFFFF;
    --color-text-secondary: #9CA288;
    --color-tooltip-bg: #fff;
    --color-tooltip-text: #000;
    --shadow-border: rgba(255, 255, 255, 0.1);
    --user-bg-color: #FAFAFC;
    --color-darkmode-btn: #EBECF2;
}

/* Body */
body {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: var(--color-bg);
    transition: color 0.5s ease, background-color 0.3s ease, left 0.5s ease;
}

/* Sidebar */
.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 15rem;
  height: 100%;
  padding: 1.4rem 1rem 0 1rem;
  background-color: var(--color-surface);
  box-shadow: 1px 0px 10px var(--shadow-border);
  transition: width 0.5s ease;
}

.sidebar.minimize {
  width: 4.94rem;
}

/* Header */
.header {
  width: 100%;
}

/* Menu button */
.menu-btn {
  position: absolute;
  top: 3.5%;
  right: -0.87rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  background-color: var(--color-surface);
  color: var(--color-text-secondary);
  box-shadow: 2px 2px 5px var(--shadow-border);
  cursor: pointer;
  transition: right 0.3s ease;
}

.menu-btn i {
  font-size: 1.5rem;
  transition: transform 0.3s ease;
}

.sidebar.minimize .menu-btn {
  right: -2.2rem;
}

.sidebar.minimize .menu-btn i {
  transform: rotate(180deg);
}

.sidebar.minimize .footer {
  box-shadow: none;
}

/* Brand */
.brand {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  padding-left: 0.455rem;
  margin-bottom: 1.8rem;
  overflow: hidden;
  white-space: nowrap;
}

.brand img {
  width: 2rem;
}

.brand span {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--color-text-primary);
}

/* Menu container */
.menu-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Search */
.search {
  display: flex;
  width: 100%;
  padding: 0.55rem 0;
  margin-bottom: 1.2rem;
  border-radius: 0.3rem;
  box-shadow: 0 0 0 1px var(--shadow-border);
  cursor: pointer;
  transition: box-shadow 0.5s ease;
}

.sidebar.minimize .search {
  box-shadow: none;
}

.sidebar.minimize .search:hover {
  background-color: var(--color-bg);
}

.search:hover {
  box-shadow: 0 0 0 1px var(--color-text-primary);
}

.search i {
  font-size: 1.6rem;
  color: var(--color-text-secondary);
  padding: 0 0.8rem;
}

.search:hover i {
  color: var(--color-text-primary);
}

.search input {
  width: 70%;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--color-text-primary);
}

/* Menu */
.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.menu .menu-item {
  position: relative;
  list-style: none;
  overflow: hidden;
}

.menu .menu-link {
  display: flex;
  padding: 0.55rem 0;
  color: var(--color-text-secondary);
  text-decoration: none;
  border-radius: 0.3rem;
  align-items: center;
}

.menu-item:hover .menu-link,
.sub-menu .sub-menu-link:hover,
.menu-item.active .menu-link {
  color: var(--color-text-primary);
  background-color: var(--color-bg);
}

.menu-link i {
  font-size: 1.35rem;
  padding: 0 0.8rem;
}

.menu-link i:last-child {
  margin-left: auto;
  transition: transform 0.3s ease;
}

.sidebar.minimize .menu-link i:last-child {
  display: none;
}

.menu-item.sub-menu-toggle .menu-link i:last-child {
  transform: rotate(180deg);
}

.menu-link span {
  font-size: 0.8rem;
  font-weight: 500;
}

.sidebar.minimize .menu-item:hover,
.sidebar.minimize .menu-item.sub-menu-toggle {
  overflow: visible;
}

.sidebar.minimize .menu-item:hover span,
.sidebar.minimize .menu-item.sub-menu-toggle span {
  position: absolute;
  left: 4.2rem;
  padding: 0.5rem;
  background-color: var(--color-tooltip-bg);
  border-radius: 0.4rem;
  color: var(--color-tooltip-text);
  transition: all 0.3s ease;
}

/* Sub menu */
.sub-menu {
  height: 0;
  transition: all 0.3s ease;
  overflow: hidden;
  left: 0;
}

.sidebar.minimize .sub-menu {
  position: absolute;
  left: 4.2rem;
  top: 3rem;
  background-color: var(--color-surface);
  border-radius: 0.2rem;
}

.sub-menu .sub-menu-link {
  display: flex;
  margin-left: 2.4rem;
  padding: 0.55rem 0.5rem;
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--color-text-secondary);
  text-decoration: none;
  border-radius: 0.3rem;
}

.sub-menu:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 0.07rem;
  margin-left: 1.4rem;
  background-color: var(--color-border);
}

.sidebar.minimize .sub-menu:before {
  width: 0;
}

.sidebar.minimize .sub-menu a {
  margin: 0 0.5rem;
}

/* Footer */ 
.footer {
  width: 100%;
  padding: 1rem 0;
  border-top: 1px solid var(--shadow-border);
}

.user {
  display: flex;
  overflow: hidden;
  margin-top: 1rem;
}

.user-img {
  display: flex;
  margin: 0 0.7rem 0 0.35rem;
}

.user-img img {
  width: 2.2rem;
  height: 2.2rem;
  object-fit: cover;
  border-radius: 50%;
}

.user-data {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  white-space: nowrap;
}

.user-data .name {
  font-size: 0.7rem;
  font-weight: 600;
  color: var(--color-text-primary);
}

.user-data .email {
  font-size: 0.5rem;
  color: var(--color-text-secondary);
}

.logout-icon {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: var(--color-text-secondary);
  cursor: pointer;
}

/* Sidebar button */
.sidebar-btn {
  display: none;
}

/* Main */
main {
  padding: 2rem 3rem 3rem 17rem;
  transition: padding 0.5s ease;
  color: var(--color-text-primary);
}

.sidebar.minimize + main {
  padding-left: 7.96rem;
}

/* Dark mode */
.brand-dark {
  display: none;
}

body.dark-mode .brand-dark {
  display: block;
}

body.dark-mode .brand-light {
  display: none;
}

.dark-mode-switch i:nth-of-type(2) {
  display: block;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.dark-mode-switch i:nth-of-type(2) {
  display: none;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}


.dark-mode-btn {
  height: 100%;
  background-color: transparent;
  padding-left: 23%;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dark-mode-btn .dark-mode-btn-input {
  display: none;
}

.dark-mode-btn .rail  {
  position: relative;
  width: 2.5rem;
  height: 1rem;
  background-color: var(--color-darkmode-btn);
  border: 2px solid var(--shadow-border);
  border-radius: 3rem;
}

.dark-mode-btn .rail .circle {
  display: block;
  width: 1.3rem;
  height: 1.3rem;
  background-color: var(--color-surface);
  border-radius: 50%;
  box-shadow: var(--shadow-border);
  border: 1.3px solid var(--shadow-border);
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateY(-50%);
  transition: all 0.5s ease;
}

body.dark-mode .dark-mode-btn .rail .circle {
  left: 50%;
}


body.dark-mode .dark-mode-switch i:nth-of-type(1) {
  display: none;
  opacity: 0;
}

body.dark-mode .dark-mode-switch i:nth-of-type(2) {
  display: block;
  opacity: 1;
}

/* Responsive */
@media (max-height:683px) {
  .footer {
    box-shadow: none;
  }
  
  .footer ul {
    display: none;
  }
  
  .menu-container {
    overflow-y: auto;
  }
  
  .search {
    box-shadow: none;
    border: 2px solid var(--color-border);
  }
  
  .search:hover {
    box-shadow: none;
  }
  
  main {
      padding: 2rem;
    }
}

@media (max-width:700px) or (max-height:683px) {
  #menu-btn {
    display: none;
  }
  
  .sidebar {
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }
  
  .sidebar-btn {
    display: flex;
    right: 1rem;
    padding: 1.2rem;
  }
  
    .sidebar-btn i:last-child {
      display: none;
    }
    
    body.sidebar-hidden .sidebar {
      transform: translateX(0);
    }
    
    body.sidebar-hidden .sidebar-btn i:last-child {
      display: flex;
    }
    
    body.sidebar-hidden .sidebar-btn i:first-child {
      display: none;
    }
    
    main {
      padding: 2rem;
      width: 100%;
      height: 100vh;
    }
    
    main .resumen {
      display: flex;
      flex-direction: column;
      gap: space-between;
    }  
    
    main .resumen .resumen-box {
      width: 100%;
      margin: 1rem 0;
    }
    
    main .operaciones {
      display: flex;
      flex-direction: column;
      gap: space-between;
      width: 100%;
      height: 20rem;
      margin-top: 12rem;
    }
    
    main .operaciones .operaciones-box {
      width: 100%;
      height: 100vh;
      margin: 1rem 0;
    }
}



/* Main */
main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.resumen {
  display: flex;
  width: 100%;
  height: 5rem;
  flex-direction: row;
  gap: space-between;
  margin-top: 1rem;
}

.resumen .resumen-box {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-surface);
  box-shadow: 1px 0px 10px var(--shadow-border);
  border-radius: 0.3rem;
  margin: 0 1rem;
}

.resumen .resumen-box h3 {
  padding-top: 0.3rem;
}

.resumen .resumen-box h3,
.resumen .resumen-box span {
  padding-bottom: 0.2rem;
  padding-left: 0.7rem;
}

.operaciones {
  display: flex;
  width: 100%;
  height: 10rem;
  flex-direction: row;
  gap: space-between;
  margin-top: 2rem;
}

.operaciones .operaciones-box {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: var(--color-surface);
  box-shadow: 1px 0px 10px var(--shadow-border);
  border-radius: 0.3rem;
  margin: 0 1rem;
}

.operaciones .operaciones-box h5 {
  padding-bottom: 0.2rem;
  padding-left: 0.7rem;
  padding-top: 0.5rem;
}